<!-- BANNER -->
<mat-card class="banner-card" >
  <mat-card-content>
    <div class="containerX">
      <div fxLayout="row" fxFlex class="coloredContainerX">
        <div
          fxFlex
          class="fxClass-all"
          ngClass.xs="fxClass-xs"
          [ngClass.sm]="{'fxClass-sm': hasStyle}"
          [ngClass.md]="{'fxClass-md': hasStyle, 'fxClass-md2': hasStyle}"
          [ngClass.lg]="['fxClass-lg', 'fxClass-lg2']">
          <h1>COMPARTILHE SUAS CAMPANHAS</h1>
          <h3>Sua escola ainda não faz parte do Mobilizaê?</h3>
          <h4>Vem com a gente e crie novos caminhos para uma escola melhor.</h4>
          <br/>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<!-- FORMULÁRIO -->
<mat-card>
    <mat-card-content>
      <div class="containerX">
        <div fxLayout="row" fxFlex class="form-card">
          <mat-card fxFlex>
            <h3>Formulário de cadastro</h3>

            <h4>Perfil da escola</h4>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Nome da escola</mat-label>
                <input matInput>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="outline">
                <mat-label>Slogan</mat-label>
                <input matInput>
                <mat-hint>Opcional</mat-hint>
              </mat-form-field>
            </p>

            <p>
              <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason">
                <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                  {{season}}
                </mat-radio-button>
              </mat-radio-group>
            </p>

            <p>
              <mat-radio-group class="example-radio-group" [(ngModel)]="nivelEducacional">
                <mat-radio-button class="example-radio-button" *ngFor="let nivel of niveis" [value]="nivel">
                  {{nivel}}
                </mat-radio-button>
              </mat-radio-group>
            </p>
            <div class="example-selected-value">Nível educacional: {{nivelEducacional}}</div>

            <p>
              <mat-form-field appearance="outline">
                <mat-label>Descrição/História</mat-label>
                <textarea matInput></textarea>
              </mat-form-field>
            </p>

            <h4>Contato</h4>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>E-mail da escola</mat-label>
                <input matInput placeholder="Ex.: escola@gmail.com">
              </mat-form-field>
            </p>

            <h4>Endereço</h4>

            <p>
              <mat-form-field appearance="outline">
                <mat-label>Logradouro</mat-label>
                <input matInput>
                <mat-hint>Rua, Avenida, etc...</mat-hint>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="outline">
                <mat-label>Nº</mat-label>
                <input matInput>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="outline">
                <mat-label>Bairro</mat-label>
                <input matInput>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="outline">
                  <mat-select placeholder="Estado" [(value)]="selectedUF">
                    <mat-option *ngFor="let estado of estados" [value]='estado.value'>
                      {{estado.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="outline">
                  <mat-select placeholder="Cidade" [(value)]="selectedCidade">
                    <mat-option *ngFor="let cidade of cidades" [value]='cidade.value'>
                      {{cidade.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </p>

            <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
            <button mat-flat-button
              (click)="uploader.uploadAll()"
              [disabled]="!uploader.getNotUploadedItems().length" >
                  Upload an Image
            </button>

            <button mat-flat-button>
                  Solicitar cadastro
            </button>

            <br/>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>


