<p>
  <mat-card>
    <h1>{{campanha?.titulo}}</h1>
    <h4 *ngIf="campanha?.resumo != ''">{{campanha?.resumo}}</h4>

    <h2>Sobre a campanha</h2>
    <p>{{campanha?.sobre}}</p>
    <div *ngIf="campanha?.tipo == 'Voluntariado' || campanha?.tipo == 'Material e Voluntariado'">
      <h2>Data e hora da prestação de voluntariado</h2>
      <p>{{campanha?.sobre}}</p>
      <h2>Vagas</h2>
      <table class="striped">
          <thead>
            <th>Nº de vagas</th>
            <th>Função</th>
            <th>Descrição</th>
            <th>Ações</th>
          </thead>
          <tbody>
            <tr *ngFor="let vaga of campanha?.vagas">
              <td>{{vaga.qtd}}</td>
              <td>{{vaga.nomeVaga}}</td>
              <td>{{vaga.descVaga}}</td>
              <td>
                <a>
                  <button (click)="openDialogAjudarVaga(campanha, vaga)" mat-raised-button color="primary">Quero ajudar</button>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
    </div>



    <div *ngIf="campanha?.tipo == 'Material' || campanha?.tipo == 'Material e Voluntariado'">
      <h2>Materiais</h2>
      <table class="striped">
          <thead>
            <th>Quantidade</th>
            <th>Item</th>
          </thead>
          <tbody>
            <tr *ngFor="let material of campanha?.materiais">
              <td>{{material.qtd}}</td>
              <td>{{material.tipoMaterial}}</td>
              <td>
                <a>
                  <button (click)="openDialogAjudarMaterial(campanha, material)" mat-raised-button color="primary">Quero ajudar</button>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </mat-card>
</p>
